.result_part {
    overflow: scroll;
    font-size: 20px;
    text-align: center;
    padding-top: 160px;
    font-family: cursive;
}
.result_part header{
    color: yellow;
    font-size: 28px;
    margin-top: 10px;
}
.result_part .result_item{
    display: inline-block;
    padding: 2px 10px;
}
.result_part .result_item .result_name {
    font-weight: 700;
}
.result_part .result_item .result_phone {
    font-size: 16px;
    color: #efefef;
}
